.heroSec {
  display: flex;
  height: 75vh;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .heroSec {
    flex-direction: column;
  }
}
.info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #dfccef; */
  background-color: #f4ecfb;
  background-image: linear-gradient(rgba(0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/src/images/heroImg.jpg);
  border-radius: 25px;
  padding: 8% 0;
  margin: 0 2%;
}
@media (max-width: 767px) {
  .info {
    margin-top: 15%;
    margin-bottom: 5%;
    padding: 0 25%;
  }
}
.objective {
  flex: 1;
}
.obj {
  text-align: justify;
  margin-right: 2%;
}
@media (max-width: 767px) {
  .obj {
    margin: 0 2%;
    font-size: 0.75rem;
  }
}
.butns {
  display: flex;
    /* justify-content: center; */
    /* justify-items: center; */
    padding: 2%;
    margin-top: 2%;
}
.butns a {
  text-decoration: none;
  text-align: center;
}
.butn {
  padding: 1.5%;
  border-radius: 50px;
  font-size: 1.25rem;
  border: 1px solid #fff;

  width: 25%;
}
@media (max-width: 767px) {
  .butn {
    width: 69%;
    margin-top: 10%;
    padding: 2.5%;
  }
}
@media (max-width: 767px) {
  .butns {
    margin-top: 1%;
    margin-bottom: 8%;
  }
}

.butn:hover {
  /* opacity: 80%; */
  background-color: #7C3D97;
  color: #fff;
}
.resumeBtn {
  margin-right: 2%;
  background-color: transparent;
  color: #fff;
}
.projects {
  background-color: #fff;
  color: #7C3D97;
}
