.flip_card{
  width: 300px;
  /* height: 350px; */
  /* border: 1px solid black; */
  border-radius: 15px;
  overflow-y: hidden;
  /* margin: 5% auto; */
  
 
  /* background-color: aqua; */
}
.ourTeam{
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
  
}
.card_back{
  background-color: #fff;
}
.aboutMe{
  text-align: center;
  color: #000;
}

.flip_card img {
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  object-fit: cover; /* This property specifies how the image should be resized to fit its container while maintaining its aspect ratio */
  display: block;
  border-radius: 15px;
}
@media(max-width:768px){

  .react-card-flip{
    margin-top: -15%;
  }
  .ourTeam{
    margin-top: 25%;
  }
}