.contact-Main-container{
    /* background-color: var(--color-primary); */
    margin: 5% 0;
    
    
}
.contact-Main-container h1{
    color: var(--color-primary);
    text-align: center;
}
.contact-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    padding: 5%;

}

.contactIcon{
    background-color: rgb(49, 3, 58);
    /* padding: 5%; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    line-height: 36px;
   padding: 15px;
   text-shadow: 0 0 10px rgba(183, 0, 255, 0.8), 0 0 20px rgba(162, 0, 255, 0.6), 0 0 30px rgba(212, 0, 255, 0.4);
    transition: text-shadow 0.3s ease-in-out;
    
}
.contactIcon i{
    color: white;
    font-size: 1.5rem;
    
}
.contact-title{
    font-weight: 600;
    color: var(--color-primary);
}
.contact-info{
    text-align: center;
}
@media(max-width:768px){
    .contact-container{
        flex-direction: column;
    }
    .contact-info div{
        margin-bottom: 4%;
    }
}