.categoriesContainer{
    margin: 0% 2% 3%;

}
@media(max-width:768px){
    .categoriesContainer{
        margin-top: 25%;
    }
}
@media(max-width:468px){
    .categoriesContainer{
        margin: -3% 2% 3%;;
    
    }
    .subhead{
        font-size: 1.5rem;
    }
}